@model BDProjetSession.Models.RendezVou

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RendezVou</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dateRendezvous" class="control-label"></label>
                <input asp-for="dateRendezvous" class="form-control" />
                <span asp-validation-for="dateRendezvous" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="commentaire" class="control-label"></label>
                <input asp-for="commentaire" class="form-control" />
                <span asp-validation-for="commentaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="proprieteID" class="control-label"></label>
                <select asp-for="proprieteID" class ="form-control" asp-items="ViewBag.ProprieteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="heureDebut" class="control-label"></label>
                <input asp-for="heureDebut" class="form-control" />
                <span asp-validation-for="heureDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="justification" class="control-label"></label>
                <input asp-for="justification" class="form-control" />
                <span asp-validation-for="justification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="commentairePhotos" class="control-label"></label>
                <input asp-for="commentairePhotos" class="form-control" />
                <span asp-validation-for="commentairePhotos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
